<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <link src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js">
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header'); %>
        <main id="layout-main">
        <%- body %>
        </main>
        <%- include('_footer'); %>

        <%- script %>

        <script>

            <% if(flash.error && flash.error.length>0) { %>
                new Noty({
                    theme:'danger',
                    text: "<%= flash.error %>",
                    type: 'error',
                    timeout: 1000,
                    progressBar: true,
                    layout: 'topRight'

                }).show();
            <% } %>

            
            <% if(flash.success && flash.success.length>0) { %>
                new Noty({
                    theme:'relax',
                    text: "<%= flash.success %>",
                    type: 'success',
                    timeout: 1000,
                    progressBar: true,
                    layout: 'topRight'

                }).show();
            <% } %>


        </script>

        
    </body>

</html>