<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header'); %>
        <% if(flash.success && flash.success.length) { %>
        <div class="flash success">
            <%= flash.success %>
        </div>
        <% } %>
        <% if(flash.error && flash.error.length) { %>
        <div class="flash error">
            <%= flash.error %>
        </div>
        <% } %>
        

        <main id="layout-main">
        <%- body %>
        </main>
        <%- include('_footer'); %>

        <%- script %>
        
    </body>

</html>